<html>

        <h5>KitTies Game</h5>
  <body>
    <input type="submit" name="choice" value="<%=board[0]%>"> ||
    <input type="submit" name="choice" value="<%=board[1]%>"> ||
    <input type="submit" name="choice" value="<%=board[2]%>"><br>
    _________________<br>
    <input type="submit" name="choice" value="<%=board[3]%>"> || 
    <input type="submit" name="choice" value="<%=board[4]%>"> || 
    <input type="submit" name="choice" value="<%=board[5]%>"><br>
    _________________<br>
    <input type="submit" name="choice" value="<%=board[6]%>"> || 
    <input type="submit" name="choice" value="<%=board[7]%>"> || 
    <input type="submit" name="choice" value="<%=board[8]%>"><br>
  </body><br>



<a href="/">play again</a>
</html>